[access]
	inheritFrom = All-Projects
[project]
	state = active
[receive]
	requireChangeId = true
[submit]
	action = fast forward only
[access "refs/heads/*"]
	owner = group Developer
	forgeAuthor = group Developer
	forgeCommitter = group Developer
	push = group Developer
	pushMerge = group Developer
	pushTag = group Developer
	label-Code-Review = -2..+2 group Developer
	label-Verified = -1..+1 group Developer
	label-Verified = -1..+1 group Qa
	rebase = group Developer
	submit = group Developer
