[access]
	inheritFrom = All-Projects
[project]
	state = active
[receive]
	requireChangeId = true
[submit]
	action = fast forward only
[access "refs/heads/*"]
	owner = group Developer
	forgeAuthor = group Developer
	forgeCommitter = group Developer
	push = group Developer
	pushMerge = group Developer
	pushTag = group Developer
	label-Code-Review = -2..+2 group Developer
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Developer
	label-Verified = -1..+1 group Jenkins
	label-Verified = -1..+1 group Qa
	rebase = group Developer
	submit = group Developer
	read = group Anonymous Users
	read = group Developer
	read = group Jenkins
	create = group Developer
[access "refs/changes/*"]
	push = group Developer
	push = group Registered Users
	pushMerge = group Developer
	pushMerge = group Registered Users
[access "refs/for/refs/heads/*"]
	push = group Developer
	push = group Registered Users
	pushMerge = group Registered Users
[access "refs/tags/*"]
	read = group Anonymous Users
	read = group Developer
	read = group Jenkins
